<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="ISAPI-dll" />
            <add name="1C Web-service Extension" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Users\Egorov\AppData\Local\Programs\1cv8t_x86\8.3.21.1393\bin\wsisapit.dll" resourceType="Unspecified" requireAccess="None" />
            <add name="ISAPI-dll" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Users\Egorov\AppData\Local\Programs\1cv8t_x86\8.3.21.1393\bin\wsisapit.dll" resourceType="Unspecified" requireAccess="Execute" allowPathInfo="true" preCondition="bitness32" />
        </handlers>
    </system.webServer>
</configuration>
